@use '@carbon/react/scss/spacing' as *;

.assistants-page__r1 {
  padding-top: $spacing-05;
  padding-bottom: $spacing-05;
}

.assistants-page__r2 {
  padding-top: $spacing-05 * 4;
  padding-bottom: $spacing-05;
}